@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Entertainers Application</h1>
    <p>To view entertainer select view at the in the nav bar to add please press thsi fancy bootstrap button below</p>
    <img src="~/pexels-photo-167636.jpeg" alt="rocking band" width ="1000"/>
    <br />
    <br />
    <a asp-controller="Home" asp-action="Create" class="btn btn-primary">Add Entertainer</a>

</div>
